
<!-- Basic Card -->

<div class="row clearfix" >
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="fleet in fleets">
        <div class="info-box  hover-expand-effect">
            <div class="icon ">
                <i class="material-icons">directions_car</i>
            </div>
            <div class="content">
                <div class="text">
                    Marca : {{fleet.Model}}
                </div>
                <small >


                    Placa :{{fleet.CarID}}

                    Capacidad: {{fleet.Capacity}}


                </small>

            </div>
        </div>
    </div>
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="fleet in fleets" >
        <div class="card " >
            <div class="header">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../assets/images/car-silhouette-modern.jpg" alt="logo" width="100" height="100" class="responsive-img" >
                    </div>

                    <h2 class="col-sm-10">
                        Marca : {{fleet.Model}}
                        <small >
                            <ul class="list ">
                                <li class="card-title">
                                    Placa :{{fleet.CarID}}
                                </li>
                                <li class="card-title">
                                    Capacidad: {{fleet.Capacity}}
                                </li>


                            </ul>
                        </small>
                    </h2>


                </div>

                <ul class="header-dropdown m-r&#45;&#45;5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-click="removeUser(user.id)">Eliminar</a></li>
                            <li><a href="#/admin/user/edit/{{user.id}}">Editar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>-->
</div>


